.title{
  
  border: 4px solid green;
  background-color: rgb(38, 178, 87);
  color: white;
  font-size: 50px;
  justify-content: center;
  font-family: 'Times New Roman';
  position: relative;
  left: 200px;
  top: 50px;
}

.countTag{

  width: 350px;
  height: 50px;
  border: 4px solid rgb(165, 165, 5);
  background-color: rgb(230, 230, 60);
  color: rgb(27, 25, 25);
  position: relative;
  top: 50px;
  left: 225px;
  font-size: 40px;
  justify-content: center;
}

.main{
  position: relative;
  left: 350px;
  top: 100px;
  height: 400px;
  width: 800px;
  border: 6px solid black;
}

